### Live Lesson Week 13 Day 1

![png](Data/Chinook_ERD.png)

In [9]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import pandas as pd

In [5]:
connection = "mysql+pymysql://root:root@localhost/chinook"

In [7]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/chinook)

In [10]:
q = """SHOW TABLES"""
pd.read_sql(q, engine)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

1. Which customer made the fewest purchases (invoices)?

2. What is the most a customer has spent on a single purchase?

3. What country is the customer with the largest total bill from (from question 2)?

4. Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?

In [12]:
# 1. Which customer made the fewest purchases (invoices)?
# I used the paintbrush for formatting
q = """SELECT 
    i.CustomerID, COUNT(*) AS purchases, c.FirstName, c.LastName
FROM
    invoice AS i
        JOIN
    customer AS c ON i.CustomerID = c.CustomerID
GROUP BY CustomerID
ORDER BY Purchases
LIMIT 2"""

pd.read_sql(q, engine)

# Limit 2 to see if there was a tie

   CustomerID  purchases FirstName    LastName
0          59          6      Puja  Srivastava
1           1          7      Luís   Gonçalves

In [14]:
# 2. Which customer made the fewest purchases (invoices)?
q = """SELECT 
    MAX(Total)
FROM
    Invoice"""

pd.read_sql(q, engine)

   MAX(Total)
0       25.86

In [15]:
# 3. What country is the customer with the largest total bill from (from question 2)?
q = """SELECT 
    MAX(Total), BillingCountry
FROM
    invoice"""

pd.read_sql(q, engine)

   MAX(Total) BillingCountry
0       25.86        Germany

In [16]:
# 4. Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?
q = """SELECT 
    p.TrackID, COUNT(*) AS number_of_playlists, t.name
FROM
    playlisttrack AS p
        JOIN
    track AS t ON p.TrackID = t.TrackID
GROUP BY TrackID
HAVING number_of_playlists > 4"""

pd.read_sql(q, engine)

,TrackID,number_of_playlists,name
0,3403,5,Intoitus: Adorate Deum
1,3404,5,"Miserere mei, Deus"
2,3408,5,"Aria Mit 30 Veränderungen, BWV 988 ""Goldberg V..."
3,3409,5,"Suite for Solo Cello No. 1 in G Major, BWV 100..."
4,3410,5,"The Messiah: Behold, I Tell You a Mystery... T..."
5,3411,5,Solomon HWV 67: The Arrival of the Queen of Sheba
6,3415,5,Symphony No.5 in C Minor: I. Allegro con brio
7,3416,5,Ave Maria
8,3417,5,"Nabucco: Chorus, ""Va, Pensiero, Sull'ali Dorate"""
9,3418,5,Die Walküre: The Ride of the Valkyries
10,3421,5,Nimrod (Adagio) from Variations On an Original...
11,3423,5,"Jupiter, the Bringer of Jollity"
12,3424,5,"Turandot, Act III, Nessun dorma!"
13,3426,5,Carmina Burana: O Fortuna
14,3430,5,"Toccata and Fugue in D Minor, BWV 565: I. Toccata"
15,3432,5,"Scheherazade, Op. 35: I. The Sea and Sindbad's..."
16,3434,5,"Concerto for Piano No. 2 in F Minor, Op. 21: I..."
17,3435,5,Cavalleria Rusticana Act Intermezzo Sinfonico
18,3436,5,"Karelia Suite, Op.11: 2. Ballade (Tempo Di Men..."
19,3437,5,"Piano Sonata No. 14 in C Sharp Minor, Op. 27, ..."
20,3438,5,Fantasia On Greensleeves
21,3439,5,"Das Lied Von Der Erde, Von Der Jugend"
22,3442,5,"Wellington's Victory or the Battle Symphony, O..."
23,3444,5,Romeo et Juliette: No. 11 - Danse des Chevaliers
24,3445,5,On the Beautiful Blue Danube
25,3446,5,"Symphonie Fantastique, Op. 14: V. Songe d'une ..."
26,3447,5,Carmen: Overture
27,3448,5,"Lamentations of Jeremiah, First Set Incipit L..."
28,3449,5,"Music for the Royal Fireworks, HWV351 (1749): ..."
29,3451,5,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht..."
30,3454,5,"Symphony No. 41 in C Major, K. 551, ""Jupiter"":..."
31,3481,5,"A Midsummer Night's Dream, Op.61 Incidental Mu..."
32,3482,5,"Suite No. 3 in D, BWV 1068: III. Gavotte I & II"
33,3485,5,Symphony No. 3 Op. 36 for Orchestra and Sopran...
34,3489,5,Symphony No. 2: III. Allegro vivace
35,3490,5,"Partita in E Major, BWV 1006A: I. Prelude"
36,3492,5,Sing Joyfully
37,3493,5,"Metopes, Op. 29: Calypso"
38,3498,5,"Concerto for Violin, Strings and Continuo in G..."
39,3499,5,Pini Di Roma (Pinien Von Rom) I Pini Della Vi...
40,3503,5,Koyaanisqatsi